

body { 
	font-family: comic sans ms, cursive;
	background-color: #333333;
}

.main {
	
	background-image: url("../images/leather.jpg");
	width: 1000px;
	height: 800px;
	padding: 1px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	margin-top: 20px;
	border: 3px solid transparent;
  padding: 10px 20px;
  -moz-border-image:url("../images/gold.jpg") 30 30 round; /* Old Firefox */
  -webkit-border-image:url("../images/gold.jpg") 30 30 round; /* Safari */
  -o-border-image:url("../images/gold.jpg") 30 30 round; /* Opera */
  border-image:url("../images/gold.jpg") 10 30 round;

}

.titles {
	font-size: 2em;
}

h1 {
	text-align: center;
	font-family: 'Pinyon Script', cursive;
	font-size: 35px;
	padding-bottom: 15px;
}

hr {
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
	padding: 0px;
}

hr.tigerline:after {
   content: url("../images/littletiger.gif");
   display: inline-block;
   position: relative;
   top: -30px;
   font-size: 15px;
   padding: 0 1px;
}

.menu {
	background-color: #f5f5dc;
	background-image: url("../images/papel.jpg");
	float: left;
	width: 650px;
	height: 750px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 5px;
}


.items {
	width: 575px;
	height: 550px;
	margin-left: 50px;
	font-size: 0.75em;

	overflow: scroll;
}

.breaker {
	height: 500px;
	width: 45px;
	position: absolute;
	top: 230px;
	left: 555px;

}

.column1 {
	float: left;
	width: 265px;
	height: 600px;

}

.column2 {
	float: right;
	align: right;
	width: 275px;
	height: 600px;

}

.dishes {
	border-spacing: 2px 20px;
  border-collapse: separate;
	font-size: 1.5em;
}

.names {
	width: 200px;
}


.receipt {
	background-image: url("../images/papel.jpg");
	background-color: #f5f5dc;
	float: left;
	width: 275px;
	height: 500px;
	margin-top: 20px;
	margin-left: 15px;
	padding: 5px;
}

.list {
	width: 250px;
	height: 300px;
	float: right;
	margin-right: 10px;
	text-align: right;
	font-size: 1.3em;
	font-weight: bold;
}

ul {
	list-style-type: none;
	font-size: 0.8em;
}

.top {
	position: relative;
	left: -30px;
	width:320px;
	height: 220px;
	overflow: scroll;
}

.bottom {
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	width: 250px;
	height: 70px;
	font-size: 0.8em;
}

.blurb {
	background-image: url("../images/papel.jpg");
	background-color: #f5f5dc;
	float: left;
	width: 275px;
	height: 225px;
	margin-top: 15px;
	margin-left: 15px;
	padding: 5px;
}

h1.about {
	font-size: 1.7em;
}
